*.aux
*.acn
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fk
*.fls
*.ist
*.lof
*.maf
*.mtc
*.mtc0
*.out
*.run.xml
*.synctex.gz(busy)
*.synctex.gz
*.toc
*.lol
*.log
*.acr
*.alg
*.lot
*.DS_Store
Thesis.pdf
*.glsdefs
~$*
*.xwm
*.swp
